<<<<<<< HEAD
doctype html
head
  title myName
  if name
    h1 Welcome, #{name}
  else
    p Input your name
    div
        input#myName(type='text', placeholder='Input your name')
        button#enter(type='button', onclick='entername()') Enter
        p#ajax

script.
  function entername(){
  let myName = document.getElementById("myName").value;
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/trackName?name=' + myName, true);
  xhr.onreadystatechange = function () {
  if (xhr.readyState === 4 && xhr.status == 200) {
  document.getElementById('ajax').innerHTML =  xhr.responseText;
  }
  };
  xhr.send();
  }
||||||| empty tree
=======
doctype html
head
  title myName
  if name
    h1 Welcome, #{name}
  else
    p Input your name
    div
        input#myName(type='text', placeholder='Input your name')
        button#enter(type='button', onclick='entername()') Enter
        p#ajax

script.
  function entername(){
  let myName = document.getElementById("myName").value;
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/trackName?name=' + myName, true);
  xhr.onreadystatechange = function () {
  if (xhr.readyState === 4 && xhr.status == 200) {
  document.getElementById('ajax').innerHTML =  xhr.responseText;
  }
  };
  xhr.send();
  }
>>>>>>> 633073c3a50b372e9837dfacca24d44795b51c75
